<%- include('partials/header') %>

    <div class="container">Welcome to a great project where I tried to implement CI/CD with git hub actions and created a docker file out of it</div>

<%- include('partials/footer') %>